<header>
  <table class="w-100" role="presentation">
    <tr>
      <td class="text-left">
        <h4>
          Evan Irla<br/>
          Software Developer
        </h4>
        <a class="no-print" href="#" (click)="print()" aria-hidden="true">Print Portfolio</a>
      </td>
      <td class="text-right">
        <h4>
          evani_94@hotmail.com
        </h4>
      </td>
    </tr>
  </table>
  <hr />
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="no-print">
  <hr />
  <div class="text-center">
    <span>&copy; 2019 - Evan Irla</span>
  </div>
</footer>