<header>
  <table class="no-print w-100">
    <tr>
      <td aria-role="breadcrumbs" class="text-left">
        <a href="#" [routerLink]="['/']">{{currentHost}}</a>{{currentPath}}&#62;
      </td>
      <td aria-hidden="true" class="text-right">
        <a href="#" (click)="nextTheme()">{{nextThemeLabel}}</a>
      </td>
    </tr>
  </table>
  <table class="w-100" role="presentation">
    <tr>
      <td class="text-left">
        <h4>
          Evan Irla<br/>
          Software Developer
        </h4>
      </td>
      <td class="text-right">
        <h4>
          <a href="mailto:evani_94@hotmail.com">evani_94@hotmail.com</a>
        </h4>
      </td>
    </tr>
  </table>
  <a class="no-print" href="#" (click)="print()" aria-hidden="true">Print Portfolio</a>
  <hr />
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="no-print">
  <hr />
  <div class="text-center">
    <span>&copy; 2019 - Evan Irla</span>
  </div>
</footer>