<h3>
  Experience&nbsp;
  <a class="no-print" 
      href="#"
      [routerLink]="['/']">Read Less</a>
</h3>
<section aria-label="Experience at Computronix">
  <h4>Computronix [Software Developer] (2015 &mdash; Current)</h4>
  <p>
    I've worked at Computronix for over 3 years. In that time I've been a part of several projects for various different government clients.
  </p>
  <p>
    My current responsibilities include:
  </p>
  <ul>
    <li>Lead Developer</li>
    <li>Mentor of New Staff</li>
    <li>Ambassador</li>
    <ul>
      <li>Regularly participate in career fairs @NAIT and @UAlberta</li>
      <li>Involved in the discovery process of new staff</li>
    </ul>
  </ul>
</section>
<section aria-label="Experience at SPECS">
  <h4>SPECS [Software Developer] (2014 &mdash; 2015)</h4>
  <p>
    During my year at SPECS, I was part of a small team replacing an aging WPF application with a Microsoft Dynamics CRM application.
  </p>
</section>
<section aria-label="Experience at AGLC">
  <h4>AGLC [Warehouse Technician] (Summer of 2014)</h4>
  <p>
    I spent a summer with the AGLC setting up, repairing, and decommissioning VLTs and slot machines. 
  </p>
</section>