<section aria-label="Evan's Experience">
  <h3>
    Experience&nbsp;
    <a class="no-print"
        href="#" 
        [routerLink]="['experience']"
        aria-label="Read More Experience">Read More</a>
  </h3>
  <p>
    I have been a professional software developer for 5 years; building my skills with a wide range of technologies. 
  </p>
  <ul>
    <li>Computronix [Software Developer] (2015 &mdash; Current)</li>
    <li>SPECS [Software Developer] (2014 &mdash; 2015)</li>
    <li>AGLC [Warehouse Technician] (Summer 2014)</li>
  </ul>
</section>
<section aria-label="Evan's Education">
  <h3>
    Education&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['education']"
        aria-label="Read More Education">Read More</a>
  </h3>
  <ul>
    <li>
      NAIT [Computer Engineering Technology Diploma] (2013 &mdash; 2015)
    </li>
  </ul>
</section>
<section aria-label="Evan's Competencies">
  <h3>
    Competencies&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['competencies']"
        aria-label="Read More Competencies">Read More</a>
  </h3>
  <p>
    I've been working with C#, Python, JavaScript, and PL/SQL professionally for over 3 years. In my spare time, I have built various applications using PHP, Amazon Web Services, MySQL, Angular 2, and Xamarin.
  </p>
</section>
<section aria-label="Evan's Personal Projects">
  <h3>
    Personal Projects&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['projects']"
        aria-label="Read More Projects">Read More</a>
  </h3>
  <ul>
    <li>cxsnacks.com</li>
  </ul>
</section>