<section aria-label="Evan's Experience">
  <h3>
    Experience&nbsp;
    <a class="no-print"
        href="#" 
        [routerLink]="['experience']"
        aria-label="Read More Experience">Read More</a>
  </h3>
  <ul>
    <li>Computronix [Software Developer] (2015 &mdash; Current) Edmonton, Alberta</li>
    <li>SPECS [Software Developer] (2014 &mdash; 2015) Edmonton, Alberta</li>
    <li>AGLC [Warehouse Technician] (Summer 2014) Edmonton, Alberta</li>
  </ul>
</section>
<section aria-label="Evan's Education">
  <h3>
    Education&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['education']"
        aria-label="Read More Education">Read More</a>
  </h3>
  <ul>
    <li>
      NAIT [Computer Engineering Technology Diploma] (2013 &mdash; 2015)
    </li>
  </ul>
</section>
<section aria-label="Evan's Competencies">
  <h3>
    Competencies&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['competencies']"
        aria-label="Read More Competencies">Read More</a>
  </h3>
  <h4>Technologies</h4>
  <ul>
    <li>ASP.NET / ASP.NET Core</li>
    <li>Xamarin</li>
    <li>Angular</li>
  </ul>
  <h4>Programming Languages</h4>
  <ul>
    <li>C#</li>
    <li>Oracle PL/SQL</li>
    <li>Python</li>
  </ul>
</section>
<section aria-label="Evan's Personal Projects">
  <h3>
    Personal Projects&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['projects']"
        aria-label="Read More Projects">Read More</a>
  </h3>
  <ul>
    <li>cxsnacks.com</li>
  </ul>
</section>