<section>
  <h3>
    Experience&nbsp;
    <a class="no-print"
        href="#" 
        [routerLink]="['experience']">Read More</a>
  </h3>
  <p>
    I have been a professional software developer for 5 years; building my skills with a wide range of technologies. 
  </p>
  <ul>
    <li>Computronix [Software Developer] (2015 &mdash; Current)</li>
    <li>SPECS [Software Developer] (2014 &mdash; 2015)</li>
    <li>AGLC [Warehouse Technician] (Summer 2014)</li>
  </ul>
</section>
<section>
  <h3>
    Education&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['education']">Read More</a>
  </h3>
  <ul>
    <li>
      NAIT [Computer Engineering Technology Diploma] (2013 &mdash; 2015)
    </li>
  </ul>
</section>
<section>
  <h3>
    Competencies&nbsp;
    <a class="no-print"
        href="#"
        [routerLink]="['competencies']">Read More</a>
  </h3>
  <p>
    I've been working with C#, Python, JavaScript, and PL/SQL professionally for over 3 years. In my spare time, I have built various applications using PHP, Amazon Web Services, MySQL, Angular 2, and Xamarin.
  </p>
</section>